body {
  background-color: #000;
  display: block; }

.bench {
  height: 105px;
  color: red;
  font-size: 30px;
  padding: 20px; }

.btn {
  margin-left: 10px; }

.campo-container {
  position: relative; }

#campo-img {
  width: 100%;
  height: 100%; }

.whirly {
  position: absolute;
  top: 350px;
  left: 700px;
  z-index: 9999; }

.player {
  text-align: center;
  position: absolute;
  color: #fff;
  width: 75px;
  height: 75px; }
  .player img {
    width: 65px;
    height: 65px;
    border: 2px solid #FFF;
    border-radius: 25px;
    cursor: move; }
  .player label {
    font-size: 20px;
    text-transform: capitalize; }

.ball {
  text-align: center;
  position: absolute;
  color: #fff;
  width: 75px;
  height: 75px; }
  .ball img {
    width: 65px;
    height: 65px;
    cursor: move;
    z-index: 9999; }
  .ball label {
    font-size: 20px;
    text-transform: capitalize; }

.opponent {
  text-align: center;
  position: absolute;
  color: #fff;
  width: 75px;
  height: 75px;
  top: 45%;
  left: 45%; }
  .opponent img {
    width: 65px;
    height: 65px;
    border: 2px solid #FFF;
    border-radius: 25px;
    cursor: move; }
  .opponent span {
    font-size: 20px;
    color: red;
    text-transform: capitalize; }
  .opponent span.close {
    color: #000;
    padding-left: 10px;
    cursor: pointer;
    line-height: 26px; }
  .opponent .enemy-header {
    width: 100px; }

.left-flank {
  top: 10%; }

.center-flank {
  top: 40%; }

.right-flank {
  top: 70%; }

#arsa {
  left: 70%; }

#luis {
  left: 63%; }

#fercho {
  left: 56%; }

#chicho {
  left: 55%; }

#dago {
  left: 62%; }

#ball {
  right: 50px; }

#carlos {
  left: 70%; }

#alexis {
  left: 63%; }

#nestor {
  left: 56%; }

#vanessa {
  position: absolute;
  left: 30%; }

#lena {
  position: absolute;
  left: 23%; }

#leo {
  position: absolute;
  left: 10px; }

#rafa {
  left: 35%; }

#omar {
  left: 28%; }

#fernando {
  left: 21%; }

#laura {
  left: 30%; }

#ale {
  left: 23%; }

#createOpponent {
  top: 10px;
  left: 10px; }

#seven-only {
  top: 10px;
  left: 200px; }
